@use "../shared.scss" as *;


.Hero {
  display: flex;
  flex-direction: column;
  width: 60vw;
  place-content: center;
  margin: auto;
  margin-top: 5rem;
  color: $white;
  background: #353535;
  padding: 0 .75rem .75rem;
  z-index: 1;
  border: 2px $bg1 solid;
  border-radius: 1rem;
}

.Hero>hr {
  width: 100%;
}
