@use '../_shared.scss' as *;

.bg-container {
  background: radial-gradient(circle, #{$bg} 75%,
    #{$bg1});
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: fixed;
  z-index: -1;

}

.bg {
  background-image: url("../assets/repeating-dots.svg");
  background-size: -10vw;
  background-repeat: repeat;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0%;
  height: 100%;
  width: 100%;
  z-index: -2;
  animation: pan 180s linear infinite;
}

.bg-gradient {
  background: radial-gradient(circle, transparent 75%, #{$bg});
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0%;
  height: 100%;
  width: 100%;
  z-index: -1;
}
