@use '../_shared.scss' as *;

.game {
  color: $white;
  display: flex;
  place-content: center center;
  gap: .5rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  max-width: 80vw;
  margin: 1rem auto;
}

.debug {
  display: flex;
  flex-direction: row;
  place-content: center;
  gap: 1rem;
}

h4.debug {
  color: white;
  margin: auto auto .25rem auto
}

.inputGame {
  display: flex;
  place-content: center;
  margin: 1rem auto;
  text-align: center;
}

.inactive {
  color: $inactive;
}

.wrong {
  color: $wrong;
}

.correct {
  color: $right;
}

.Timer,
.Stats {
  color: white;
  display: flex;
  flex-wrap: nowrap;
  place-content: center;
}
